<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trilha de CSS - DIO</title>
</head>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@888&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@186&display=swap');

*{
  margin: 0;  
  padding: 0;
flex-wrap: wrap;
font-family: "Raleway", serif;
}
body{
  max-width: 100%;
}
.div-1{
  width: 100%;
  height: 610px;
  background-color:#0C141F;
  position: relative;
  box-shadow: inset 0px 180px 90px -110px black, inset 0px -50px 80px -2px black;
 display: flex;
 flex-wrap: wrap;
 background-image: url("assets/images/banner.png") ;
 border-bottom: 3px solid steelblue;
background-blend-mode:screen;

}
.img-rodape{
border: 1px;
display: inline-block;
height: 65px;
width: 65px;
margin-top: -8px;
margin-left: 60px;
position: absolute;
cursor: pointer;



}
#rodape{
  width: 100%;
  height: 50px;
  background-color: aliceblue;
  position: fixed;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: top;
  z-index: 11;
  
}
.button-link {
      display: inline-block;
      width: 90px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      text-transform: uppercase;
      font-weight: 550;
      font-family: "Raleway", serif;
      text-decoration: none;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.5s;
      margin-right: 10px;
    }

    .cadastre {
      background-color: aliceblue;
      color: #0C141F;
      border: 2px solid #0C141F;
      margin-left: 1000px;
      margin-top: 8px;
    }

    .login {
      background-color: #0C141F;
      color: aliceblue;
      border: 2px solid aliceblue;
      margin-top: 8px;
      margin-right: 25px;
    }
.cadastre:hover{
border: 2px solid aliceblue;
background-color: #0C141F;
color: aliceblue;
}
.login:hover{
  border: 2px solid #0C141F;
  background-color: aliceblue;
  color: #0C141F;
}
.logo{
  width: 244px;
  height: 214px;
  align-self: top;
  position: absolute;
  z-index: 10;
  background-color: rgba(7, 12, 19, 0.5);
  margin-left: 39%;
display: block;
margin-top: 70px;
border-radius: 50% ;
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: large;
  cursor: pointer;

}

h1{
  width: 360px;
height: 55px;
display: block;
align-self:center;
justify-self: center;
position: absolute;
margin-top: 140px;
margin-left: 420px;
background-image: linear-gradient(to top, steelblue, rgb(82, 153, 211));
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 900;
  flex-wrap: wrap;
  text-align: center;
  font-family: "Raleway", serif;
  

  /* Adicionado: */
  -webkit-text-fill-color: transparent;

}

.p1{
  width: 450px;
height: 50px;
display: block;
align-self:center;
justify-self: center;
position: absolute;
margin-top: 250px;
margin-left: 385px;
font-size: 22px;
color: white;
text-align: center;
}
.button-1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  margin-top: 500px;
  margin-left: 490px;
  border: 2px solid steelblue;
  color: steelblue;
  background-color: rgba(7, 12, 19, 0.0);
  border-radius: 5px;
  font-weight: 550;
  cursor: pointer;
  transition: 0.5s;
  text-decoration: none;
  padding-left: 80px; /* Ajuste de padding à esquerda */
  font-size: 16px;
  line-height: 1;
}
.button-1:hover{
  border: 1px solid transparent;
  background-color: steelblue;
  color: white;
}
.div-2{
  width: 100%;
  height: 540px;
 border: 4px solid black;
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-wrap: wrap;
 flex-direction: column;
 background-color: black;

}
.h2-1{
 font-size: 35px;
 justify-self: top;
 position: absolute;
 margin-bottom: 300px;
 letter-spacing: 3px;
color: steelblue;
margin-right: 20px;

}
.p2{
  text-align: center;
  width: 700px;
  position: absolute;
  margin-bottom: 180px;
  color:white;
  margin-right: 20px;
}
.module{
 width: 435px;
 height: 40px;
 padding: 10px;
gap: 10px;
border-radius: 57px;
border: 1px solid steelblue;
opacity: 0px;
display: flex;
flex-direction:row;
margin-top: 20px;
text-align: center ;
background-color:rgba(37, 37, 37, 1);
color: white;
box-shadow: inset 10px 10px 10px -7px rgb(15, 15, 15);
position: relative;
transition-duration: 0.8s;
font-weight: 550;
margin-right: 20px;


}
#module-1{
  margin-top: 200px;

}
span{
  color: steelblue;
}
.p3{
  margin-top: 10px;
  margin-left:67px;
  cursor: pointer;
}
.p4{
  margin-top: 10px;
  margin-left: 50px;
  position: absolute;
  cursor: pointer;
}
.p5{
  margin-top: 10px;
  margin-left: 5px;
  position: absolute;
  cursor: pointer;
}  
.module:hover{
padding: 17px;
padding-right: 17px;
}
.transforme{
  width: 100%;
  height: 350px;
  border-bottom: 2px solid steelblue;
background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-color: black;
  background-image: url("assets/images/woman-code.png");
  border-top: 2px solid steelblue;
  flex-wrap: wrap;
  
  

}
.p6 {
  font-size: 45px;
text-transform: lowercase;
  color: white;
  text-align:start;
  margin-top: 100px;
  letter-spacing: 2px;
  text-shadow: 5px 3px 2px steelblue;
  font-weight: 550;
  margin-left: 70px;


}
.div-3{
width: 100%;
height: 710px;
border: 1px solid black;
position: relative;
align-items: center;
justify-content: center;
background-color: black;
flex-wrap: wrap;
border-bottom: 1px solid steelblue;
}

.h2-2{
  width: 746px;
height: 76px;
text-align: center;
position: absolute;
display: block;
margin-left: 18%;
margin-top: 70px;
font-size: 30px;
text-transform: uppercase;
letter-spacing: 7px;
color: steelblue;

}

.img-2{
position: absolute;   
align-self: center;    
margin-left: 22%;     
margin-top: 150px;                                        
}
.p7{
  position: absolute;   
align-self: center;    
margin-left: 15%;     
margin-top: 595px; 
text-align: center;   
width: 800px;
font-size: 14px;
font-weight:500;
letter-spacing: 1px;
color: white;
}
.div-4{
  width: 100%;
  height: 150px;
  align-items: center;
  justify-content: center;
  display: block;
  position: relative;
  background-color: #0C141F;
  box-shadow: inset 0px 60px 60px -5px black;
  flex-wrap: wrap;
}
.p8{
  color: white;
  position: absolute;
  margin-left: 37%;
  margin-top: 8%;

}
.dio-logo{
  position: absolute;
  margin-left: 35%;
  margin-top: 4%;
}
.a1{
  text-decoration: none;
  color: rgb(79, 147, 202);
  font-weight: 550;
}

</style>
<body>
  <header class="banner">
    <div class="div-1">
      <footer>
        <div  id="rodape">
        <img src="https://raichu-uploads.s3.amazonaws.com/logo_digital-innovation-one_MlayUW.png" class="img-rodape">
        <a href="https://www.dio.me/sign-up" class="button-link cadastre">Cadastre</a>
          <a href="https://auth.dio.me/realms/master/protocol/openid-connect/auth?client_id=spa-core-client&redirect_uri=https%3A%2F%2Fweb.dio.me%2F&state=71e6e63d-ce2e-46c1-9247-1ee57139b560&response_mode=fragment&response_type=code&scope=openid&nonce=12619224-6109-4df6-8d22-9e7c0917e8ab" class="button-link login">Login</a>
      </div>
      </footer>
      <div class="logo">
        <img src="assets/images/logo.png" title="Logotipo Trilha de CSS DIO" alt="Logotipo Trilha de CSS DIO">
      </div>
      <h1>Trilha de CSS da DIO</h1>
      <p class="p1">A nova Trilha de CSS da DIO está disponível. Acesse já e aprenda do zero como desenvolver sites profissionais.</p>
      <div class="caixa">
        <a href="https://dio.me" class="button-1">Quero me inscrever</a>
    </div>
    </div>
  </header>
  <main>
    <section id="section-1">
      <div class="div-2">
      <h2 class="h2-1">O que vou aprender?</h2>
      <p class="p2">
        Temos 3 módulos recheados de conteúdos do básico ao avançado para que você aprenda a 
        desenvolver sites profissionais utilizando somente HTML e CSS: sem nenhuma biblioteca ou framework a mais.
      </p>
      <div class="modules-list">
        <div class="module" id="module-1">
          <p class="p3"><span>Módulo 01:</span> primeiros passos com CSS</p>
        </div>
        <div class="module"id="module-2">
          <p class="p4"><span>Módulo 02:</span> trabalhando com layouts no CSS</p>
        </div>
        <div class="module"id="module-3">
          <p class="p5"><span>Módulo 03:</span> refinando os estilos CSS das nossas páginas</p>
        </div>
      </div>
    </div>
    </section>
    <section id="transform-world">
      <div class="transforme">
      <p class="p6">TRANSFORME <br>O MUNDO <br>COM A GENTE</p>
      </div>
    </section>
    <section id="professional-challenges">
      <div class="div-3">
      <h2 class="h2-2">Evolua e encare novos desafios <br>   profissionais</h2>
      <img src="assets/images/professional-challenges.png"  class="img-2" title="Homem lendo depoimentos em um tablet" alt="Homem lendo depoimentos em um tablet">
      <p class="p7">
        Junte-se ao nosso ecossistema e transforme o mundo com a gente! Todos os dias dezenas de empresas 
        acessam a nossa plataforma em busca dos talentos mais criativos, dinâmicos e colaborativos, 
        além do conhecimento técnico. 
        A nossa missão é te preparar para que você conecte-se com as melhores <br>oportunidades.
      </p>
    </div>
    </section>
  </main>
  <footer>
    <div class="div-4">
    <img class="dio-logo" src="assets/images/dio-logo.png" title="Logotipo DIO com o texto make the change" alt="Logotipo DIO com o texto make the change">
    <p class="p8">Acesse <a href="https://dio.me" class="a1">dio.me</a> e se cadastre agora</p>
  </div>
  </footer>
</body>
</html>
